<div class="header">
  <h1>My HABIT TASKS</h1>
  <nav>
    <div class="left-nav">
      <ul>
        <li>
          <a
            href="../task-lists/task-lists.component.html"
            routerLink="../task-lists/task-lists.component.html"
            routerLinkActive="active"
          >
            <!-- *ngIf="isAuth$ | async" -->
            ALL TASKS
          </a>
        </li>
        <li>
          <a routerLink="new-task" routerLinkActive="active">
            <!-- *ngIf="isAuth$ | async" -->
            ADD TASK
          </a>
        </li>
      </ul>
    </div>
 
    <div class="right-nav">
      <!-- <ul>
        <li>
          <a routerLink="signup" routerLinkActive="active" *ngIf="!(isAuth$ | async)">
            SIGN UP
          </a>
        </li>
        <li>
          <a routerLink="login" routerLinkActive="active" *ngIf="!(isAuth$ | async)">
            LOGIN
          </a>
        </li>
        <li>
          <a (click)="onLogout()" *ngIf="isAuth$ | async">
            LOGOUT
          </a>
        </li>
      </ul> -->
    </div>
  </nav>
</div>
