<div class="header">
  <h1>My HABIT TASKS</h1>
  <nav>
    <div class="left-nav">
      <ul>
        <button>
          <a routerLink="/lists/listsId" routerLinkActive="active"
            >Voir mes listes</a
          >
        </button>

        <li><a routerLink="/Home">Home</a></li>
        <li><a routerLink="/projects">Projets</a></li>
        <button (click)="openDialog()">
          <a routerLink="/new-task">Ajouter une tâche</a>
        </button>
        <button>
          <a routerLink="/tasks">Toutes les tâches</a>
        </button>
      </ul>
    </div>

    <div class="right-nav">
      <!-- <ul>
        <li>
          <a routerLink="signup" routerLinkActive="active" *ngIf="!(isAuth$ | async)">
            SIGN UP
          </a>
        </li>
        <li>
          <a routerLink="login" routerLinkActive="active" *ngIf="!(isAuth$ | async)">
            LOGIN
          </a>
        </li>
        <li>
          <a (click)="onLogout()" *ngIf="isAuth$ | async">
            LOGOUT
          </a>
        </li>
      </ul> -->
    </div>
  </nav>
</div>
