<!-- <div class="lists-container">
  <div
    *ngFor="let list of lists"
    (click)="onSelectList(list)"
    [ngClass]="list.cssClass"
    class="Input"
  >
    {{ list.name }}
  </div>
</div> -->

<div class="lists-container">
  <input
    [(ngModel)]="newListName"
    placeholder="Nom de la nouvelle liste"
    class="Input"
  />
  <button (click)="addList()" class="go-to-lists-btn">Ajouter</button>

  <div
    class="listeItem"
    *ngFor="let list of lists"
    [ngClass]="list.cssClass"
    (click)="onSelectList(list)"
  >
    <!-- Mode édition -->
    <div *ngIf="editingListId === list._id" class="listeItem_button">
      <input [(ngModel)]="editedListName" />
      <button (click)="confirmEdit()">✅</button>
      <button (click)="cancelEdit()">❌</button>
    </div>

    <!-- Mode affichage -->
    <div *ngIf="editingListId !== list._id" class="listeItem_button">
      <span (click)="onSelectList(list)">{{ list.name }}</span>
      <button (click)="startEdit(list)">✏️</button>
      <button (click)="deleteList(list._id)">🗑️</button>
    </div>
  </div>
</div>
