<p>categories works perfectly!</p>

<!-- string interpolation   Il suffit de mettre le nom de la variable à afficher entre doubles accolades{{ }} dans le HTML -->

<h2>{{ faceSnap.title }}</h2>
<br />
<br />
<br />
@if(faceSnap.location) {
<p>Localisation: {{ faceSnap.location }}</p>
} @else {
<p>Localisation non spécifiée</p>
}
<img [src]="faceSnap.imageUrl" [alt]="faceSnap.title" class="myImage" />
<p>{{ faceSnap.description }}</p>
<p>crée le {{ faceSnap.createdAt }}</p>

<p>
  <!--template -->
  <!-- Elle permet de lier une méthode TypeScript à un événement du DOM.
   pour chaque clic sur un bouton, on appellera la méthode liée-->
  <button (click)="onSnap()">{{ snapButtonText }}</button>
  🤌 {{ faceSnap.snaps }}
</p>
