<!-- string interpolation   Il suffit de mettre le nom de la variable à afficher entre doubles accolades{{ }} dans le HTML -->
<div class="face-snap-card" [ngClass]="{ snapped: userHasSnapped }">
  <h2>{{ faceSnap.title | uppercase }}</h2>

  <!-- <h3>{{ faceSnap.subtitle | lowercase }}</h3> -->
  <br />
  @if(faceSnap.location) {
  <p>Localisation: {{ faceSnap.location }}</p>
  } @else {
  <p>Localisation non spécifiée</p>
  }

  <img
    [src]="faceSnap.imageUrl"
    [alt]="faceSnap.title"
    class="face-snap-card"
  />

  <p>{{ faceSnap.description }}</p>
  <p>crée le {{ faceSnap.createdAt | date : "d MMMM yyy à HH: mm" }}</p>

  <p>
    <!--template -->
    <!-- Elle permet de lier une méthode TypeScript à un événement du DOM.
   pour chaque clic sur un bouton, on appellera la méthode liée-->
    <button (click)="onSnap()">{{ snapButtonText }}</button>
    <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)' }">
      🤌 {{ faceSnap.snaps }}</span
    >
  </p>
</div>
