<div *ngFor="let task of tasks" class="task-card">
  <h3>{{ task.title }} - {{ task.status }}</h3>
  <p>{{ task.description }}</p>
  <p><strong>Statut:</strong> {{ task.status }}</p>
  <p><strong>Échéance:</strong>{{ task.dueDate }}</p>

  <label class="LabelReminder">
    <input
      class="InputReminder"
      type="checkbox"
      [checked]="task.reminder"
      (change)="toggleReminder(task)"
    />
    Activer le rappel
  </label>

  <button (click)="changeStatus(task, 'in_progress')">En cours</button>
  <button (click)="changeStatus(task, 'done')">Terminé</button>
  <button (click)="deleteTask(task)">Supprimer</button>
</div>
