.home-container {
    text-align: center;
    margin-top: 50px;
}

.go-to-lists-btn {
    padding: 10px 20px;
    background-color: #1976d2;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
}

.go-to-lists-btn:hover {
    background-color: #125ea7;
}