/*@import 'app/styles/ind';*/
* {
    outline: none !important;
}


html {
    height: 100%;
    background-color: #59042d;

    color: white;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #8f3e65;
    color: white;

    height: 100%;
    display: contents;
    overflow-x: hidden;
}