<div id="sidBar">
  <h2>Bienvenue sur votre tableau de bord side bar</h2>

  <a routerLink="/lists"> 📋 Ajouter Listes</a> <br />
  <a routerLink="/lists/:listId"> 📋 Voir mes Listes</a> <br />
  <a routerLink="/tasks"> 📋 Voir mes Tâches</a>
  <h3>📋 Toutes mes Rubriques</h3>

  <a routerLink="/lists">Listes</a>
  <a routerLink="/projects">Projets</a>

  <a routerLink="/agenda"> <h3>Agenda</h3></a>
</div>

<!-- <ul *ngIf="tasks.length > 0; else noTasks">
  <li *ngFor="let task of tasks">
    <strong>{{ task.title }}</strong> — {{ task.status }} — {{ task.priority }}
  </li>
</ul> -->
