/*@import 'app/styles/ind';*/
* {
    outline: none !important;
}


html {
    height: 100%;
    background-color: #3d3c3c;
    color: white;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #171515;
    color: white;

    height: 100%;
    display: contents;
    overflow-x: hidde
}