



/*@import 'app/styles/ind';*/
* {
    outline: none !important;
}

body {
    background-color: #999191;
    height: 100%;
    display: contents;
    overflow-x: hidden;
}


/** Common **/
/*
.mat-pseudo-checkbox-checked::after {
    top: 6px !important;
    left: 4px !important;
}
.mat-form-field-underline{
    background-color: rgba(0, 0, 0, 0.21) !important;
}
    */